<div>
    <div class="row">
        <div class="col-md12">
        <h2 class="text-center">About User Management Portal</h2>
        <p>         
            User Management is a system for authenticating users and storing user data. Our User Management APIs make managing users of your app easy. These APIs handle your user registration process, user authentication, and password management. We provide a variety of login options including Backendless login, Facebook, Google, Twitter, and OAuth2 integration. Using Backendless Console, you can manage all aspects of your user accounts such as changing user properties, reset passwords, enable or disable users, manage user profiles, and more.
        </p>        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
<router-outlet name="map"></router-outlet>
    </div>
    <div class="col-md-6">
<router-outlet name="feeds"></router-outlet>
    </div>
</div>
</div>
