  <!-- {{userDetails | json}} -->
<h1 class="text-center">User Details</h1>

<div class="container">  
    
    <!--  {{userList | json}} -->
    <table class="table table-bordered">
        <tr class="bg-muted">
            <th>Id</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            
        </tr>
        <tr *ngFor="let user of userDetails">
          <!-- <td><a routerLink="/user/2">{{user.ID}}</a></td> -->
          <td>{{user.ID}}</td>
          <td>{{user.NAME}}</td>
          <td>{{user.USERNAME}}</td>
          <td>{{user.EMAIL}}</td> 
        </tr>
    </table>
    
    <div>
      <ul class="nav nav-tran">      
        <li class="nav-item">
            <a class="nav-link" routerLink="address">Address</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="company">Company</a>
          </li>
      </ul>      
    </div>
    <router-outlet></router-outlet>
</div>
